html {
	background-color: var(--bs-body-bg);
	text-align: center;
	color: white;
}

body {
	margin: 0;
	color: white;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@font-face {
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
	height: 100vh;
	text-align: center;
}

.newLine {
	white-space: pre;
}

/* ================== For react-creatable ========================= */

.dark-creatable-select {
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	text-align: left;
}

.dark-creatable-select > div[class$="-control"] {
	background-color: transparent;
	border-style: none;
}

.dark-creatable-select
	> div[class$="-control"]
	> div[class*="-IndicatorsContainer2"]
	> span[class*="-indicatorSeparator"] {
	display: none;
}

.dark-creatable-select > div[class$="-control"] > div[class*="-ValueContainer2"] > div[class*="-singleValue"] {
	color: lightgray;
}

.dark-creatable-select > div[class$="-control"] > div[class*="-ValueContainer2"] > div[class*="-Input2"] {
	color: lightgray;
}

.dark-creatable-select > div[class$="-control"] > div[class*="-ValueContainer2"] > div[class*="-multiValue"] {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
}

.dark-creatable-select
	> div[class$="-control"]
	> div[class*="-ValueContainer2"]
	> div[class*="-multiValue"]
	> div[class*="-MultiValueGeneric2"] {
	color: var(--bs-body-color);
	font-size: 90%;
}

.dark-creatable-select > div[class$="-menu"] {
	background: var(--bs-gray-dark);
	margin-top: 0.125rem;
	border: solid 1px;
	border-color: var(--bs-border-color);
}

.dark-creatable-select > div[class$="-menu"] > div[class$="-MenuList2"] > div[class$="-option"] {
	background-color: inherit;
}
