html {
    background-color: var(--bs-body-bg);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
}

#app {
    height: 100vh;
    text-align: center;
}

.newLine {
    white-space: pre;
}

.w-65 {
    width: 65% !important;
}

.w-35 {
    width: 35% !important;
}
